#app_title
{
    text-align: center;
    border: 1px solid gainsboro;
    background-color: rgba(129, 12, 12, 0.712);
}

.main_divs
{
    margin-bottom: 30px;
    text-align: center;
}

#form_2
{
    display: flex;
    flex-direction: row;
    margin: 2% 2% 2% 15%;
    
}

#form_2>*
{
    margin-right: 20px;
}

#display_things
{
    display: flex;
    flex-direction: row;
}

#display_things>div
{
    border: 1px solid rgba(146, 145, 145, 0.815);
    margin-right: 10px;
    flex: 1;
}


#display_res
{
    display: flex;
    flex-direction: row;
}

#display_res>*
{
    flex: 1;
}

#user_maintain_calories
{
    width: 250px;
}


.deleteV2, .deleteVl
{
    float: right;
    border-radius: 5px;
    font-size: 10px;
    background-color: rgba(250, 43, 43, 0.904);
    color: white;
}

.class_wrkt_name, .class_cal_brnd, .class_food_calories, .class_food_name
{
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(236, 236, 236, 0.932);
}
